.dashboard{
    margin-bottom:140px;
}
.lead{
    margin-top:70px;
}
.ligne{
    background-color:#2f4357
}
.modal-header{
    background-color:#2f4357;
}
.modal-footer{
    background-color:#2f4357;
}